/* JUMBOTRON */
.jumbotron {
  min-height: 590px;
  background: url(../img/background_image_big.png) no-repeat center center;
  background-color: black;
  background-size: cover; }

.jumbotron--container {
  padding: 1px;
  position: relative;
  height: 100%; }

.jumbotron--content {
  width: 45%;
  float: left;
  margin-top: 120px;
  margin-left: 20px;
  color: #ffffff; }

.jumbotron--primary-text {
  margin: 0;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #212121;
  text-transform: uppercase;
  color: white; }

.jumbotron--primary-text::after {
  display: block;
  margin-top: 20px;
  content: "";
  width: 70px;
  border-bottom: 2px solid white; }

.jumbotron--secondary-text {
  display: block;
  max-width: 450px;
  margin: 0;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #86878b;
  color: #cccccc;
  font-size: 15px; }

.jumbotron--btn {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 0px; }

@media screen and (max-width: 1200px) {
  .jumbotron--content {
    width: 55%; } }

@media screen and (max-width: 992px) {
  .jumbotron--content {
    width: 70%; } }

@media screen and (max-width: 768px) {
  .jumbotron--content {
    width: 65%; } }

@media screen and (max-width: 576px) {
  .jumbotron--primary-text {
    font-size: 30px; }
  .jumbotron--secondary-text {
    display: none; }
  .jumbotron--content {
    margin-left: 20px;
    width: 80%; }
  .jumbotron .row {
    margin: 0; } }
