#pic01 {
  margin-top: 150px; }

#pic02 {
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto; }

@media screen and (max-width: 576px) {
  #pic02 {
    width: 95%;
    margin-top: 50px; } }
